/venv/
/rl_interaction/logs/
*.png
.idea
/rl_interaction/apps
/rl_interaction/pickle_files
/__pycache__
rl_interaction/utils/__pycache__/*
rl_interaction/__pycache__/*
rl_interaction/coverage/
rl_interaction/logger.log
.old/parallel_rl_env.py
rl_interaction/tested_apps
rl_interaction/instrumented_apps
rl_interaction/.DS_Store
rl_interaction/apps copia/
rl_interaction/logs copia/
.DS_Store
.old
rl_interaction/coverage copia/